.grid {
  width: 200px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: mistyrose;

}

.grid div {
  height: 20px;
  width: 20px;
}

.tetromino {
  background-color: powderblue;
}

.mini-grid {
  margin-left: 250px;
  margin-top: -399px;
  width: 80px;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  background-color: mistyrose;
}

.mini-grid div {
  height: 20px;
  width: 20px;
}
